.tic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.status {
  font-size: 24px;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Jacquard 24";
}
.square {
  position: center;
  width: 60px;
  height: 60px;
  margin: 4px;
  border-color: #050817;
  background-color: #e8eadf;
  font-size: 24px;
  font-family: "Jacquard 24";
  border-radius: 10px;
}

.square:hover {
  background-color: #79acaa;
  border-color: #960a00;
}

.square:focus {
  background-color: #960a00;
  border-color: #79acaa;
}

.game-info {
  font-family: "Jacquard 24";
  font-size: 24px;
}

.board-row {
  display: flex;
  position: center;
  font-family: "Jacquard 24";
}
